.App{
  font-size: 1rem;
  font-size: max(16px, 1em);
  font-family: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  color: rgb(41, 36, 36);
}




.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}


.gif-container{
  display: flex;
  padding: 30px;
  flex-wrap: wrap;
}

.center {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.button {
  border-radius: 10px;
}

button{
  background-color: black; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}