html{
  font-size: 100%;
  box-sizing: border-box;

}

*, *::before, *::after{
  box-sizing: inherit;
}

body{
  font-family: 'Open Sans', sans-serif;
  line-height: 1.3;
  margin-top: 50px;
  margin: 0;
  padding: 0;
 background-color: #0f0701;
  color: #ffffff;
}




.App{
  font-size: 1rem;
  font-size: max(16px, 1em);
  font-family: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  color: rgb(248, 236, 236);
}




.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}


.gif-container{
  display: flex;
  padding: 30px;
  flex-wrap: wrap;
}

form {
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

