html{
  font-size: 100%;
  box-sizing: border-box;

}

*, *::before, *::after{
  box-sizing: inherit;
}

body{
  font-family: 'Open Sans', sans-serif;
  line-height: 1.3;
  margin-top: 50px;
  margin: 0;
  padding: 0;
  /* background-color: #202020; */
  color: #ffffff;
}
